{% extends "layout.html" %}

{% block body %}

<div class="main" style="background-color:white;height:600px;border-radius:25px;text-align:center;">
    <span style="margin:auto;font-size:30px;">
        <h2>Paw_Site</h2>
        <p>Bu site Faruk Ege Eryiğit tarafından, bir evcil hayvan sahiplendirme ilan sitesi olarak tasarlanmıştır.</p>
        <p style="font-size:15px;">Temel amaç backend Django bilgilerimi göstermek. (Sayfa tasarım ve frontend kısmı tamamlanmamıştır)</p>
        <p style="color:rgb(202, 93, 93);">Tamamen deneme amaçlıdır.</p>
    </span>
    
</div>

{% endblock body %}