{% extends "layout.html" %}

{% block body %}
<div class="a">
    <div class="main">
        <div class="left_filter">
            <form id="filter_form">
                {% csrf_token %}
                <div class="filter_row">
                    <select class="filter" name="il">
                        <option value="">İl Seçiniz</option>
                        <option value="İstanbul">İstanbul</option>
                        <option value="Ankara">Ankara</option>
                        <option value="İzmir">İzmir</option>
                        <option value="Adana">Adana</option>
                        <option value="Adıyaman">Adıyaman</option>
                        <option value="Afyonkarahisar">Afyonkarahisar</option>
                        <option value="Ağrı">Ağrı</option>
                        <option value="Aksaray">Aksaray</option>
                        <option value="Amasya">Amasya</option>
                        <option value="Antalya">Antalya</option>
                        <option value="Ardahan">Ardahan</option>
                        <option value="Artvin">Artvin</option>
                        <option value="Aydın">Aydın</option>
                        <option value="Balıkesir">Balıkesir</option>
                        <option value="Bartın">Bartın</option>
                        <option value="Batman">Batman</option>
                        <option value="Bayburt">Bayburt</option>
                        <option value="Bilecik">Bilecik</option>
                        <option value="Bingöl">Bingöl</option>
                        <option value="Bitlis">Bitlis</option>
                        <option value="Bolu">Bolu</option>
                        <option value="Burdur">Burdur</option>
                        <option value="Bursa">Bursa</option>
                        <option value="Çanakkale">Çanakkale</option>
                        <option value="Çankırı">Çankırı</option>
                        <option value="Çorum">Çorum</option>
                        <option value="Denizli">Denizli</option>
                        <option value="Diyarbakır">Diyarbakır</option>
                        <option value="Düzce">Düzce</option>
                        <option value="Edirne">Edirne</option>
                        <option value="Elazığ">Elazığ</option>
                        <option value="Erzincan">Erzincan</option>
                        <option value="Erzurum">Erzurum</option>
                        <option value="Eskişehir">Eskişehir</option>
                        <option value="Gaziantep">Gaziantep</option>
                        <option value="Giresun">Giresun</option>
                        <option value="Gümüşhane">Gümüşhane</option>
                        <option value="Hakkâri">Hakkâri</option>
                        <option value="Hatay">Hatay</option>
                        <option value="Iğdır">Iğdır</option>
                        <option value="Isparta">Isparta</option>
                        <option value="Kahramanmaraş">Kahramanmaraş</option>
                        <option value="Karabük">Karabük</option>
                        <option value="Karaman">Karaman</option>
                        <option value="Kars">Kars</option>
                        <option value="Kastamonu">Kastamonu</option>
                        <option value="Kayseri">Kayseri</option>
                        <option value="Kırıkkale">Kırıkkale</option>
                        <option value="Kırklareli">Kırklareli</option>
                        <option value="Kırşehir">Kırşehir</option>
                        <option value="Kilis">Kilis</option>
                        <option value="Kocaeli">Kocaeli</option>
                        <option value="Konya">Konya</option>
                        <option value="Kütahya">Kütahya</option>
                        <option value="Malatya">Malatya</option>
                        <option value="Manisa">Manisa</option>
                        <option value="Mardin">Mardin</option>
                        <option value="Mersin">Mersin</option>
                        <option value="Muğla">Muğla</option>
                        <option value="Muş">Muş</option>
                        <option value="Nevşehir">Nevşehir</option>
                        <option value="Niğde">Niğde</option>
                        <option value="Ordu">Ordu</option>
                        <option value="Osmaniye">Osmaniye</option>
                        <option value="Rize">Rize</option>
                        <option value="Sakarya">Sakarya</option>
                        <option value="Samsun">Samsun</option>
                        <option value="Siirt">Siirt</option>
                        <option value="Sinop">Sinop</option>
                        <option value="Sivas">Sivas</option>
                        <option value="Şırnak">Şırnak</option>
                        <option value="Tekirdağ">Tekirdağ</option>
                        <option value="Tokat">Tokat</option>
                        <option value="Trabzon">Trabzon</option>
                        <option value="Tunceli">Tunceli</option>
                        <option value="Şanlıurfa">Şanlıurfa</option>
                        <option value="Uşak">Uşak</option>
                        <option value="Van">Van</option>
                        <option value="Yalova">Yalova</option>
                        <option value="Yozgat">Yozgat</option>
                        <option value="Zonguldak">Zonguldak</option>
                    </select>
                </div>
                <hr>
                <div class="filter_row">
                    <select class="filter" name="cinsiyet">
                        <option value="">Cinsiyet</option>
                        <option value="Erkek">Erkek</option>
                        <option value="Dişi">Dişi</option>
                    </select>
                </div>
                <hr>
                <div class="filter_row">
                    <select class="filter" name="yas">
                        <option value="">Yaş</option>
                        <option value="0-3 Aylık">0-3 Aylık</option>
                        <option value="3-6 Aylık">3-6 Aylık</option>
                        <option value="6-12 Aylık">6-12 Aylık</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9 ve Üstü">9 ve Üstü</option>
                    </select>
                </div>
                <div class="filter_row">
                    <button id="filter_btn" type="submit">Filtrele</button>
                </div>    
            </form>
        </div>
        <div class="showcase">
            <div id="showcase_title">
                <span><p>Yeni İlanlar</p></span>
                <hr style="width: 80%;border-top: 1px solid rgb(229, 229, 229)">
            </div>
            
            <div class="showcase_content">
                {% if messages %}
                    {% for message in messages %}
                    <div {% if message.tags %} class="message-{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                {% endif %}
            
                {% for ilan in ilanlar %}
                    <div class="ilan">
                        <a style="text-decoration:none;" href="/ilan/detail/{{ilan.id}}">
                            <div class="ilan_image"><img src="{{ilan.image}}" alt="{{ilan.title}}"></div>
                            <div class="ilan_text">
                                <div><p style="width: 80%;margin:auto;margin-top:4%;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;">{{ilan.title}}</p></div>
                                <div class="ilan_date">
                                    <p class="margin_auto">{{ilan.created_date|date:"d.m.y"}}</p>
                                    <p class="margin_auto">{{ilan.address}}</p> 
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
        
            </div>   
        </div>
    </div>
</div>

{% endblock body %}